<form (submit)="createUser($event)">
  <div class="input">
    <label>First Name</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Last Name</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Username</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password">
  </div>
  <div class="input">
    <label>Phone Number</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Email</label>
    <input type="email">
  </div>
  <div class="input">
    <label>Address</label>
    <input type="text">
  </div>
  <div class="input">
    <input type="submit" value="SignUp">
  </div>
</form>